In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

import warnings
warnings.filterwarnings('ignore')

In [2]:
path = "application_train.csv"
path_test = "application_test.csv"

df1 = pd.read_csv(path, sep=',')
df_test1 = pd.read_csv(path_test, sep=',')
df1.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df_test1.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print('訓練データのデータ数は{}、変数は{}種類です。'.format(df1.shape[0], df1.shape[1]))
print('テストデータのデータ数は{}、変数は{}種類です'.format(df_test1.shape[0], df_test1.shape[1]))

訓練データのデータ数は307511、変数は122種類です。
テストデータのデータ数は48744、変数は121種類です

In [5]:
df1.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [6]:
df_test1.columns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

In [7]:
print('データ型の確認（型変換前）\n{}\n'.format(df1.dtypes))

データ型の確認（型変換前）
SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtype: object

In [8]:
df1.isnull().sum()

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                   202929
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
                               ...
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
dtype: int64

In [9]:
#df = df1.dropna()
#df_test = df_test1.dropna()

In [10]:
print('訓練データのデータ数は{}、変数は{}種類です。'.format(df1.shape[0], df1.shape[1]))
print('テストデータのデータ数は{}、変数は{}種類です'.format(df_test1.shape[0], df_test1.shape[1]))

訓練データのデータ数は307511、変数は122種類です。
テストデータのデータ数は48744、変数は121種類です

In [11]:
df1.replace({'NAME_CONTRACT_TYPE':{'Cash loans': 0, 'Revolving loans': 1}}, inplace=True)
df_test1.replace({'NAME_CONTRACT_TYPE':{'Cash loans': 0, 'Revolving loans': 1}}, inplace=True)

df1.replace({'CODE_GENDER':{'M': 0, 'F': 1}}, inplace=True)
df_test1.replace({'CODE_GENDER':{'M': '0', 'F': '1'}}, inplace=True)

df1.replace({'FLAG_OWN_CAR':{'N': 0, 'Y': 1}}, inplace=True)
df_test1.replace({'FLAG_OWN_CAR':{'N': 0, 'Y': 1}}, inplace=True)

df1.replace({'FLAG_OWN_REALTY':{'N': 0, 'Y': 1}}, inplace=True)
df_test1.replace({'FLAG_OWN_REALTY':{'N': 0, 'Y': 1}}, inplace=True)

In [12]:
NAME_TYPE_SUITE = pd.concat([df1['NAME_TYPE_SUITE'], df_test1['NAME_TYPE_SUITE']])
NAME_TYPE_SUITE_ohe = pd.get_dummies(NAME_TYPE_SUITE)

NAME_TYPE_SUITE_ohe_train = NAME_TYPE_SUITE_ohe[:65535]
NAME_TYPE_SUITE_ohe_test = NAME_TYPE_SUITE_ohe[65535:]

df1 = pd.concat([df1, NAME_TYPE_SUITE_ohe_train], axis=1)
df_test1 = pd.concat([df_test1, NAME_TYPE_SUITE_ohe_test], axis=1)

df1.drop('NAME_TYPE_SUITE', axis=1, inplace=True)
df_test1.drop('NAME_TYPE_SUITE', axis=1, inplace=True)

In [13]:
'''
NAME_INCOME_TYPE = pd.concat([df1['NAME_INCOME_TYPE'], df_test1['NAME_INCOME_TYPE']])
NAME_INCOME_TYPE_ohe = pd.get_dummies(NAME_INCOME_TYPE)

NAME_INCOME_TYPE_ohe_train = NAME_INCOME_TYPE_ohe[:65535]
NAME_INCOME_TYPE_ohe_test = NAME_INCOME_TYPE_ohe[65535:]

df1 = pd.concat([df1, NAME_INCOME_TYPE_ohe_train], axis=1)
df_test1 = pd.concat([df_test1, NAME_INCOME_TYPE_ohe_test], axis=1)

df1.drop('NAME_INCOME_TYPE', axis=1, inplace=True)
df_test1.drop('NAME_INCOME_TYPE', axis=1, inplace=True)
'''

"\nNAME_INCOME_TYPE = pd.concat([df1['NAME_INCOME_TYPE'], df_test1['NAME_INCOME_TYPE']])\nNAME_INCOME_TYPE_ohe = pd.get_dummies(NAME_INCOME_TYPE)\n\nNAME_INCOME_TYPE_ohe_train = NAME_INCOME_TYPE_ohe[:65535]\nNAME_INCOME_TYPE_ohe_test = NAME_INCOME_TYPE_ohe[65535:]\n\ndf1 = pd.concat([df1, NAME_INCOME_TYPE_ohe_train], axis=1)\ndf_test1 = pd.concat([df_test1, NAME_INCOME_TYPE_ohe_test], axis=1)\n\ndf1.drop('NAME_INCOME_TYPE', axis=1, inplace=True)\ndf_test1.drop('NAME_INCOME_TYPE', axis=1, inplace=True)\n"

In [14]:
df1.drop('NAME_INCOME_TYPE', axis=1, inplace=True)
df_test1.drop('NAME_INCOME_TYPE', axis=1, inplace=True)

df1.drop('NAME_EDUCATION_TYPE', axis=1, inplace=True)
df_test1.drop('NAME_EDUCATION_TYPE', axis=1, inplace=True)

df1.drop('NAME_FAMILY_STATUS', axis=1, inplace=True)
df_test1.drop('NAME_FAMILY_STATUS', axis=1, inplace=True)

df1.drop('NAME_HOUSING_TYPE', axis=1, inplace=True)
df_test1.drop('NAME_HOUSING_TYPE', axis=1, inplace=True)

df1.drop('OCCUPATION_TYPE', axis=1, inplace=True)
df_test1.drop('OCCUPATION_TYPE', axis=1, inplace=True)

df1.drop('WEEKDAY_APPR_PROCESS_START', axis=1, inplace=True)
df_test1.drop('WEEKDAY_APPR_PROCESS_START', axis=1, inplace=True)

df1.drop('ORGANIZATION_TYPE', axis=1, inplace=True)
df_test1.drop('ORGANIZATION_TYPE', axis=1, inplace=True)

df1.drop('HOUSETYPE_MODE', axis=1, inplace=True)
df_test1.drop('HOUSETYPE_MODE', axis=1, inplace=True)

df1.drop('WALLSMATERIAL_MODE', axis=1, inplace=True)
df_test1.drop('WALLSMATERIAL_MODE', axis=1, inplace=True)

df1.drop('EMERGENCYSTATE_MODE', axis=1, inplace=True)
df_test1.drop('EMERGENCYSTATE_MODE', axis=1, inplace=True)

df1.drop('FONDKAPREMONT_MODE', axis=1, inplace=True)
df_test1.drop('FONDKAPREMONT_MODE', axis=1, inplace=True)

In [15]:
df = df1.dropna()
df_test = df_test1.dropna()

In [16]:
df.head(100)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Children,Family,Group of people,Other_A,Other_B,"Spouse, partner",Unaccompanied
71,100083,0,0,0,1,1,0,103500.0,573628.5,24435.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
124,100145,0,0,1,1,1,1,202500.0,260725.5,16789.5,...,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
143,100165,0,0,1,1,1,0,175500.0,1293502.5,35568.0,...,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
152,100179,0,0,1,1,0,0,202500.0,675000.0,53329.5,...,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
161,100190,0,0,0,1,0,0,162000.0,263686.5,24781.5,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
164,100193,0,0,1,1,0,0,225000.0,296280.0,15124.5,...,1.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
249,100289,0,0,0,1,0,0,202500.0,526491.0,26878.5,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
255,100295,1,0,0,1,0,1,225000.0,1019205.0,31032.0,...,6.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
296,100341,0,0,0,1,1,0,76500.0,545040.0,20677.5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
298,100343,0,0,0,1,1,0,315000.0,90000.0,4504.5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
316,100363,0,0,1,1,1,1,360000.0,493497.0,48942.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
319,100366,0,1,0,1,1,0,765000.0,1350000.0,67500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
323,100371,0,0,1,1,1,1,450000.0,808650.0,31464.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
328,100376,0,0,0,1,1,0,360000.0,254700.0,20250.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
337,100389,0,0,0,1,1,0,247500.0,1971072.0,68643.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
343,100395,0,0,0,1,1,0,225000.0,888840.0,32053.5,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
369,100425,0,0,1,1,1,2,90000.0,688500.0,20259.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
415,100479,0,1,0,1,1,0,90000.0,180000.0,9000.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
441,100508,0,0,1,1,1,0,450000.0,1971072.0,62019.0,...,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
483,100557,0,0,1,1,1,0,225000.0,1320975.0,43785.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
492,100567,1,1,0,1,1,0,99000.0,180000.0,9000.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
580,100666,0,0,0,1,1,0,135000.0,422451.0,19822.5,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
591,100678,0,0,1,1,1,2,184500.0,1078200.0,31522.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
626,100716,0,0,1,1,0,1,135000.0,761067.0,60259.5,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
696,100805,0,0,0,1,0,0,270000.0,1098000.0,28962.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
701,100810,0,1,0,1,1,2,540000.0,900000.0,45000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
739,100852,0,0,0,1,1,0,157500.0,1190340.0,63549.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
765,100879,1,0,1,1,1,0,450000.0,1323000.0,47650.5,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
803,100920,0,0,0,1,1,3,112500.0,832500.0,24471.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
862,100988,0,0,0,1,1,0,180000.0,1350000.0,38821.5,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1879,102202,0,0,1,1,1,0,360000.0,900000.0,29034.0,...,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1895,102222,0,0,0,1,0,0,180000.0,291384.0,22680.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1914,102243,0,0,1,1,1,0,90000.0,916470.0,32598.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1941,102275,0,0,0,1,1,0,135000.0,239850.0,23850.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1942,102276,0,1,0,1,1,0,540000.0,315000.0,15750.0,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1970,102311,0,0,0,1,1,2,270000.0,592560.0,35937.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2009,102356,0,0,0,1,1,1,765000.0,1350000.0,51552.0,...,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2031,102379,0,0,0,1,1,0,112500.0,497520.0,32391.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2136,102510,0,0,1,1,1,0,135000.0,356580.0,36666.0,...,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2167,102543,0,1,0,1,1,1,202500.0,270000.0,13500.0,...,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2192,102573,0,0,0,1,0,0,202500.0,900000.0,35694.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2268,102658,0,0,0,1,1,2,270000.0,781920.0,37746.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2322,102718,0,1,0,1,1,0,157500.0,450000.0,22500.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2343,102742,0,0,1,1,1,0,270000.0,932427.0,59719.5,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2397,102802,0,0,0,1,0,0,292500.0,1087366.5,35208.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2413,102818,0,0,1,1,1,0,211500.0,810000.0,26901.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2417,102822,0,0,1,1,0,0,207000.0,1125000.0,32895.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2418,102823,0,0,0,1,1,1,450000.0,1024740.0,52452.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2422,102827,0,0,1,1,1,0,450000.0,942300.0,30528.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2462,102873,0,0,1,1,0,0,112500.0,946980.0,40122.0,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2480,102893,0,0,1,1,0,0,180000.0,945000.0,40036.5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2496,102911,0,0,1,1,1,0,135000.0,381528.0,14382.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2513,102931,0,0,1,1,1,1,292500.0,1409719.5,135936.0,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2581,103016,0,0,1,1,1,0,157500.0,521280.0,26743.5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2632,103072,0,0,1,1,1,0,90000.0,624289.5,27630.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2638,103079,0,0,1,1,1,0,135000.0,450000.0,24543.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2653,103098,0,0,1,1,1,2,180000.0,225000.0,24003.0,...,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2672,103119,0,0,0,1,0,1,225000.0,900000.0,45954.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2705,103157,0,1,0,1,1,1,180000.0,270000.0,13500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2712,103165,0,0,1,1,1,0,173250.0,906228.0,35937.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
X = df.iloc[:, 9:].values
y = df.iloc[:, 8].values

X_test = df_test.iloc[:, 8:].values
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

from sklearn.ensemble import RandomForestRegressor
#ランダムフォレスト
rfc = RandomForestRegressor(max_depth=15, min_samples_leaf=2, n_estimators=100, n_jobs=-1, random_state=42)
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=-1, oob_score=False, random_state=42,
           verbose=0, warm_start=False)

In [35]:
print('Train Score: {}'.format(round(rfc.score(X_train, y_train), 3)))
print(' Test Score: {}'.format(round(rfc.score(X_valid, y_valid), 3)))

Train Score: 0.995
 Test Score: 0.98

In [36]:
param_grid = {'max_depth': [3, 5, 7],
              'min_samples_leaf': [1, 2, 4]}

for max_depth in param_grid['max_depth']:
    for min_samples_leaf in param_grid['min_samples_leaf']:
        rfc_grid = RandomForestRegressor(max_depth=max_depth, min_samples_leaf=min_samples_leaf, 
                                            n_estimators=100, n_jobs=-1, random_state=42)
        rfc_grid.fit(X_train, y_train)
        print('max_depth: {}, min_samples_leaf: {}'.format(max_depth, min_samples_leaf))
        print('    Train Score: {}, Test Score: {}'.format(round(rfc_grid.score(X_train, y_train), 3),
                                                           round(rfc_grid.score(X_valid, y_valid), 3)))

max_depth: 3, min_samples_leaf: 1
    Train Score: 0.97, Test Score: 0.971
max_depth: 3, min_samples_leaf: 2
    Train Score: 0.97, Test Score: 0.971
max_depth: 3, min_samples_leaf: 4
    Train Score: 0.97, Test Score: 0.971
max_depth: 5, min_samples_leaf: 1
    Train Score: 0.982, Test Score: 0.978
max_depth: 5, min_samples_leaf: 2
    Train Score: 0.982, Test Score: 0.979
max_depth: 5, min_samples_leaf: 4
    Train Score: 0.981, Test Score: 0.979
max_depth: 7, min_samples_leaf: 1
    Train Score: 0.989, Test Score: 0.98
max_depth: 7, min_samples_leaf: 2
    Train Score: 0.989, Test Score: 0.98
max_depth: 7, min_samples_leaf: 4
    Train Score: 0.987, Test Score: 0.98

In [37]:
rfc_gs = GridSearchCV(RandomForestRegressor(n_estimators=100, n_jobs=-1, random_state=42), param_grid, cv=5)
rfc_gs.fit(X, y)

print('Best Parameters: {}'.format(rfc_gs.best_params_))
print('CV Score: {}'.format(round(rfc_gs.best_score_, 3)))

Best Parameters: {'max_depth': 7, 'min_samples_leaf': 4}
CV Score: 0.978

In [38]:
pred = rfc_gs.best_estimator_.predict(X_test)

In [39]:
pred

array([ 255307.01978265,  428564.77328072,  148388.4297139 , ...,
        249639.74281134,  514897.91865566,  502164.12336259])